
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Appl/env/Include/
/Appl/env/Lib
/Appl/env/
/GuiPy/build/
/GuiPy/dist/
/GuiPy/env/Include/
/GuiPy/env/Lib
/GuiPy/env/pyvenv.cfg
/GuiPy/env/Scripts/
/WinGTK/build/
/WinGTK/dist/
/WinGTK/WinGTK.egg-info/
/WinGTK/WinGTK/*.dll
/WinGTK/WinGTK/*.typelib
/WinGTK/WinGTK/g-ir-annotation-tool
/WinGTK/WinGTK/gtester-report
/WinGTK/WinGTK/glib-mkenums
/WinGTK/WinGTK/glib-gettextize
/WinGTK/WinGTK/glib-genmarshal
/WinGTK/WinGTK/gdbus-codegen
/WinGTK/WinGTK/g-ir-scanner
/WinGTK/WinGTK/lib/girepository-1.0/
/WinGTK/WinGTK/share/icons
